@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import 'aos/dist/aos.css';


/*----GENERAL----*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
}

.fixed img{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 64px;
}

h1{
    text-align: center;
    font-size: xx-large;
    font-family: poppins;
    color: rgb(173, 106, 108);
}

body{
    font-family: 'Poppins', sans-serif;
}

/*------SELECTION (PSEUDOELEMENTO)------*/

p::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

h1::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

h2::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

h3::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

h4::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

li::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

a::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

img::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

address::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

iframe::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

label::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}

select::selection{
    background-color: rgb(208, 173, 167);
    color: white;
}


/*-----HEADER-----*/


header h2{
    color: white;
    margin: 0px 0px 0px 20px;
    border: 2px solid white;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    box-shadow: 10px 10px 5px -4px rgba(181,141,182,0.75);
    -webkit-box-shadow: 10px 10px 5px -4px rgba(181,141,182,0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(181,141,182,0.75);
    animation-delay: 0.5s;
    font-family: poppins;
    font-size: x-large;
    font-weight: bold;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    margin: 10px 20px 10px 20px;
}

header nav ul{
    list-style: none;
    display: flex;
}

header{
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: end;
}

.menu li a{
    transition: 1s;
}

.menu li a:hover{
	color: rgb(181, 141, 182);
}


/*-------MAIN-------*/

/*INICIO*/


.hero div h1{
    font-size: xx-large;
    text-decoration: none;
    border: 2px solid white;
    margin: 20px;
    padding: 10px 15px 10px 15px;
    font-family: poppins;
    font-weight: bold;
    font-size: xx-large;
}

.hero{
    background: linear-gradient(rgba(87, 77, 90, 0.226), rgba(76, 68, 78, 0.226)), url("../images/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 90vh;
    color: rgb(173, 106, 108);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero a input:hover{
	color: rgb(173, 106, 108);
    transform: scale(1.1);
    box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
}

.hero a input{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: rgb(232, 214, 203);
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    border: 2px dotted black;
    transition: 1s;
    font-family: poppins;
    font-size: small;
}

.quienes-somos img{
    height: 250px;
}

.quienes-somos div h2{
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.quienes-somos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienes-somos div{
    width: 50%;
    margin: 50px;
}

.quienes-somos div p{
    text-align: center;
}

.quienes-somos div p::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}

.extractos div h2{
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.extractos div h4{
    text-align: center;
    margin: 5px;
    font-family: poppins;
    font-weight: bold;
    font-size: large;
}

.extractos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.extractos-sub1{
    margin: 50px;
}

.extracto a img{
    height: 32px;
}

.extractos-sub2{
    display: flex;
    flex-direction: row;
}

.extracto{
    border: 5px solid rgb(181, 141, 182);
    margin: 15px 20px 15px 20px;
    padding: 10px 20px 10px 20px;
    height: fit-content;
    text-align: justify;
    box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
}

.ingles::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}

.espanol::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}


/*ESTUDIOS*/


.formacion{
    font-family: poppins;
    font-weight: bold;
    font-size: xx-large;
    margin: 5px 0px 0px 0px;
}

.estudios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.estudios-sub1{
    width: 50%;
    margin: 50px;
}

.estudios-sub1 p{
    text-align: center;
}

.estudios-sub1 p::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}

.estudios iframe{
    height: 250px;
}

.estudios-sub1 h2{
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.certificaciones{
    margin: 40px;
}

.certificaciones h2{
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.certificaciones div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.certificaciones div img{
    height: 250px;
}

.certificaciones div ul li{
    list-style: none;
}

.certificaciones div ul{
    border: 3px solid rgb(181, 141, 182);
    padding: 5px 10px 5px 10px;
    text-align: center;
    box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
}

.certificaciones p{
    text-align: center;
    margin: 0px;
}

.certificaciones p::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}


/*SERVICIOS*/


.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
    gap: 10px;
}

.grid-container div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 8px 9px 5px -2px rgba(0,0,0,0.54);
    -webkit-box-shadow: 8px 9px 5px -2px rgba(0,0,0,0.54);
    -moz-box-shadow: 8px 9px 5px -2px rgba(0,0,0,0.54);
}

.grid-item-mapamundi{
    grid-column: span 2;
}

.grid-item-maquina{
    grid-row: span 2;
}

.grid-item-laptop{
    grid-row: span 2;
}

.que-ofrecemos-sub a input{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: rgb(232, 214, 203);
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    border: 2px dotted black;
    margin: 5px 5px 10px 5px;
    transition: 1s;
    font-family: poppins;
    font-size: small;
}

.que-ofrecemos-sub a input:hover{
	color: rgb(173, 106, 108);
    transform: scale(1.1);
    box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
}

.que-ofrecemos-sub h1{
    font-family: poppins;
    font-weight: bold;
    font-size: xx-large;
    margin: 5px 0px 0px 0px;
}

.que-ofrecemos-sub p::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}

.que-ofrecemos-sub p{
    margin: 0px 15px 15px 15px;
}

.que-ofrecemos div img{
    height: 250px;
}

.que-ofrecemos-sub{
    text-align: center;
}

.idiomas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.idiomas div{
    border: 3px solid rgb(181, 141, 182);
    padding: 5px 10px 5px 10px;
    box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
}

.idiomas div ul{
    padding: 0;
}

.idiomas div ul li{
    list-style: none;
}

.idiomas1 h2{
    font-family: poppins;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.tipos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.tipos1 h2{
    font-family: poppins;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.tipos div{
    border: 3px solid rgb(181, 141, 182);
    padding: 5px 10px 5px 10px;
    box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
}

.tipos div ul{
    padding: 0;
}

.tipos div ul li{
    list-style: none;
}

.conexion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.conexion1 h2{
    font-family: poppins;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.conexion div{
    border: 3px solid rgb(181, 141, 182);
    padding: 5px 10px 5px 10px;
    box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
}

.conexion div ul{
    padding: 0;
}

.conexion div ul li{
    list-style: none;
}

.conexion div ul li a{
    transition: 1s;
    color: black;
}

.conexion div ul li a:hover{
    color: rgb(181, 141, 182);
}

.remoto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.remoto1 h2{
    font-family: poppins;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.remoto div{
    border: 3px solid rgb(181, 141, 182);
    padding: 5px 10px 5px 10px;
    box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
}

.remoto div ul{
    padding: 0;
}

.remoto div ul li{
    list-style: none;
}


/*CLIENTES*/


.titulo-clientes{
    font-weight: bolder;
    margin: 5px;
}

.clientes div img{
    height: 128px;
}

.clientes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.clientes div{
    border: 5px solid black;
    background-color: rgb(181, 141, 182);
    padding: 10px 15px 10px 15px;
    margin: 5px;
    box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -14px 14px 14px -4px rgba(0,0,0,0.75);
}

.clientes div p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.opiniones h2{
    text-align: center;
    margin: 25px 15px 15px 15px;
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.carousel-item img{
    height: 520px;
    object-fit: cover;
}

.carousel-caption{
    font-size: x-large;
}


/*CONTACTO*/


.titulo-contacto{
    font-family: poppins;
    font-weight: bold;
    font-size: xx-large;
    margin: 5px 0px 0px 0px;
}

.redes-sociales h2{
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    margin: 0px;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.redes-sociales div p{
    text-align: center;
}

.redes-sociales div p::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}

.redes-sociales{
    margin: 15px 30px 30px 30px;
}

.formulario{
    text-align: center;
    margin: 30px 30px 0px 30px;
}

.formulario h2{
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(232, 214, 203);
    padding: 3px;
}

.formulario img{
    height: 250px;
}

.ubicacion iframe{
    height: 250px;
}

.ubicacion div h2{
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    font-size: x-large;
    background-color: rgb(232, 214, 203);
    padding: 3px;
    margin: 0px;
}

.ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.ubicacion div{
    width: 50%;
    margin: 50px;
}

.ubicacion div p{
    text-align: center;
}

.ubicacion div p::first-letter{
    color: rgb(93, 46, 70);
    font-size: 2rem;
    font-weight: bold;
}

.enviar-limpiar input{
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: rgb(232, 214, 203);
    padding: 5px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    border: 2px dotted black;
    transition: 1s;
    font-family: poppins;
    font-size: small;
}

.enviar-limpiar input:hover{
	color: rgb(173, 106, 108);
    transform: scale(1.1);
    box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 12px 14px -4px rgba(0,0,0,0.75);
}

.nombre input{
    background-color: rgb(232, 214, 203);
    text-decoration: none;
    padding: 3px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.nombre input:focus{
    outline-color: rgb(181, 141, 182);
}

.apellido input{
    background-color: rgb(232, 214, 203);
    text-decoration: none;
    padding: 3px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.apellido input:focus{
    outline-color: rgb(181, 141, 182);
}

.email input{
    background-color: rgb(232, 214, 203);
    text-decoration: none;
    padding: 3px;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.email input:focus{
    outline-color: rgb(181, 141, 182);
}

.email label{
    margin: 14px;
}

.genero h3{
    font-family: poppins;
    font-weight: bold;
    font-size: large;
    margin: 5px;
}

.pais option{
    font-family: 'Poppins', sans-serif;
}

.pais select{
    font-family: poppins;
    font-size: small;
}

.pais select:focus{
    background-color: rgb(232, 214, 203);
}

.pais h3{
    font-family: poppins;
    font-weight: bold;
    font-size: large;
    margin: 5px;
}

.titulo-mensaje{
    font-family: poppins;
    font-weight: bold;
    font-size: large;
    margin: 5px;
}

textarea:focus{
    outline-color: rgb(181, 141, 182);
}


/*-----FOOTER-----*/


footer{
    background-color: rgb(208, 173, 167);
    display: flex;
    justify-content: space-around;
}

.contacto-redes{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.contacto-redes h4{
    font-family: poppins;
    font-weight: bold;
    font-size: larger;
}

.logo-redes{
    height: 32px;
    margin: 10px;
}

.logo-redes a img{
    transition: 0.5s;
}

.logo-redes a img:hover{
    transform: scale(1.2);
}

.direccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.direccion h4{
    font-family: poppins;
    font-weight: bold;
    font-size: larger;
}

.direccion address{
    margin: 10px;
}

.direccion img{
    height: 32px;
    margin: 10px;
}

.direccion div p{
    border: 2px solid rgb(173, 106, 108);
    width: fit-content;
    padding: 10px;
    margin: 0px;
}

.direccion div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-footer{
    display: flex;
    justify-content: end;
    align-items: center;
}

.mapa-footer iframe{
    height: 250px;
}


/*-------MEDIA QUERY--------*/


@media screen and (max-width:1284px){
    .extractos-sub2{
        flex-direction: column;
    }
}

@media screen and (max-width:1046px){
    footer{
        flex-direction: column;
    }
    .contacto-redes{
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .logo-redes{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .direccion{
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .mapa-footer{
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
}

@media screen and (max-width:896px){
    .hero div h1{
        font-size: x-large;
    }
}

@media screen and (max-width:856px){
    .estudios{
        flex-direction: column;
        margin: 10px 30px 30px 30px;
    }
    .estudios-sub1{
        margin: 0px 15px 15px 15px;
    }
    .estudios iframe{
        margin: 10px 10px 15px 10px;
    }
    .ubicacion{
        flex-direction: column;
        margin: 10px 30px 30px 30px;
    }
    .ubicacion div{
        margin: 0px 10px 10px 10px;
    }
    .ubicacion iframe{
        margin: 10px;
    }
}

@media screen and (max-width:842px){
    .idiomas{
        flex-direction: column;
    }
    .idiomas1{
        margin: 25px;
    }
    .tipos{
        flex-direction: column;
    }
    .tipos1{
        margin: 25px;
    }
    .conexion{
        flex-direction: column;
    }
    .conexion1{
        margin: 25px;
    }
    .remoto{
        flex-direction: column;
    }
    .remoto1{
        margin: 25px;
    }
}

@media screen and (max-width:800px){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:744px){
    .grid-container{
        grid-auto-rows: 250px;
    }
}

@media screen and (max-width:700px){
    .quienes-somos{
        flex-direction: column;
    }
    .quienes-somos div{
        margin: 20px;
        width: 80%;
    }
    .quienes-somos div p{
        text-align: center;
    }
}

@media screen and (max-width:674px){
    .certificaciones div{
        flex-direction: column;
    }
    .certificaciones div div ul{
        margin: 25px;
    }
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
    }
    .grid-item-laptop2{
        grid-row: span 2;
    }
    .que-ofrecemos div img{
        height: 230px;
    }
}

@media screen and (max-width:560px){
    header nav ul{
        flex-direction: column;
        text-align: center;
        margin: 5px;
        padding: 0px;
    }
    header nav ul li a{
        margin: 5px
    }
    header{
        height: 22vh;
    }
    .que-ofrecemos div img{
        height: 200px;
    }
}

@media screen and (max-width:545px){
    .extracto{
        font-size: small;
    }
}

@media screen and (max-width:530px){
    .hero div h1{
        font-size: large;
    }
    h1{
        font-size: x-large;
    }
}

@media screen and (max-width:504px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item-maquina{
        grid-column: span 2;
    }
    .grid-item-maquina2{
        grid-column: span 2;
    }
}

@media screen and (max-width:482px){
    .formulario img{
        height: 200px;
    }
    .quienes-somos img{
        height: 200px;
    }    
}

@media screen and (max-width:460px){
    .extracto{
        font-size: x-small;
        margin: 0px 0px 20px 0px;
    }
    .quienes-somos div p{
        font-size: small;
    }
    .quienes-somos div p::first-letter{
        font-size: 1.2rem;
    }
    .extractos-sub1 h4{
        font-size: xx-small;
        margin: 5px;
    }
    .ingles::first-letter{
        font-size: 1.2rem;
    }
    .espanol::first-letter{
        font-size: 1.2rem;
    }
    .estudios-sub1 p{
        font-size: small;
    }
    .estudios-sub1 p::first-letter{
        font-size: 1.2rem;
    }
    .certificaciones div div ul li{
        font-size: small;
    }
    .certificaciones p{
        font-size: small;
    }
    .certificaciones p::first-letter{
        font-size: 1.2rem;
    }
    .ubicacion div p{
        font-size: small;
    }
    .ubicacion div p::first-letter{
        font-size: 1.2rem;
    }
    .redes-sociales div{
        font-size: small;
    }
    .redes-sociales div p::first-letter{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:434px){
    .que-ofrecemos div img{
        height: 150px;
    }
    .que-ofrecemos div{
        font-size: small;
    }
}

@media screen and (max-width:376px){
    .formulario img{
        height: 150px;
    }
}