/*----------HEADER-----------*/

header{
    background-color: nth($colores, 1);
    height: 10vh;
    @include flex(flex, space-between, center);
    h2{
        color: nth($colores, 2);
        margin: 0px 0px 0px 20px;
        border: 2px solid nth($colores, 2);
        width: fit-content;
        padding: 5px 10px 5px 10px;
        box-shadow: 10px 10px 5px -4px rgba(181,141,182,0.75);
        -webkit-box-shadow: 10px 10px 5px -4px rgba(181,141,182,0.75);
        -moz-box-shadow: 10px 10px 5px -4px rgba(181,141,182,0.75);
        animation-delay: 0.5s;
        font-family: poppins;
        font-size: nth($font-size, 2);
        font-weight: bold;
    }
    nav{
        .menu{
            list-style: none;
            display: flex;
            justify-content: end;
            li{
                a{
                    text-decoration: none;
                    color: nth($colores, 2);
                    margin: 10px 20px 10px 20px;
                    transition: 1s;
                    &:hover{
                        color: $african-violet;
                    }
                }
            }
        }
    }
}

