/*--------GENERAL---------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import 'aos/dist/aos.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: poppins;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
}

.fixed{
    img{
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 64px;
    }
}

h1{
    text-align: center;
    font-size: nth($font-size, 1);
    font-family: poppins;
    color: $redwood;
}

body{
    font-family: 'Poppins', sans-serif;
}

/*------SELECTION (PSEUDOELEMENTO)------*/

p{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2); 
    }    
}

h1{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

h2{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

h3{
    &::selection{
    background-color: $tea-rose;
    color: nth($colores, 2);
    }
}

h4{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

li{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

a{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

img{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

address{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

iframe{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

label{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}

select{
    &::selection{
        background-color: $tea-rose;
        color: nth($colores, 2);
    }
}


