/*----------MEDIA QUERY------------*/

@media screen and (max-width:1284px){
    .extractos-sub2{
        flex-direction: column;
    }
}

@media screen and (max-width:1046px){
    footer{
        flex-direction: column;
    }
    .contacto-redes{
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    .logo-redes{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .direccion{
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .mapa-footer{
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
}

@media screen and (max-width:896px){
    .hero{
        div{
            h1{
                font-size: x-large;
            }
        }
    }
}

@media screen and (max-width:856px){
    .estudios{
        flex-direction: column;
        margin: 10px 30px 30px 30px;
    }
    .estudios-sub1{
        margin: 0px 15px 15px 15px;
    }
    .estudios{
        iframe{
        margin: 10px 10px 15px 10px;
        }
    } 
    .ubicacion{
        flex-direction: column;
        margin: 10px 30px 30px 30px;
    }
    .ubicacion{
        div{
        margin: 0px 10px 10px 10px;
        }
    }
    .ubicacion{
        iframe{
        margin: 10px;
        }
    } 
}

@media screen and (max-width:842px){
    .idiomas{
        flex-direction: column;
    }
    .idiomas1{
        margin: 25px;
    }
    .tipos{
        flex-direction: column;
    }
    .tipos1{
        margin: 25px;
    }
    .conexion{
        flex-direction: column;
    }
    .conexion1{
        margin: 25px;
    }
    .remoto{
        flex-direction: column;
    }
    .remoto1{
        margin: 25px;
    }
}

@media screen and (max-width:800px){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:744px){
    .grid-container{
        grid-auto-rows: 250px;
    }
}

@media screen and (max-width:700px){
    .quienes-somos{
        flex-direction: column;
    }
    .quienes-somos{
        div{
        margin: 20px;
        width: 80%;
        }
    }
    .quienes-somos{
        div{
            p{
        text-align: center;
            } 
        }
    }  
}

@media screen and (max-width:674px){
    .certificaciones{
        div{
        flex-direction: column;
        }
    }
    .certificaciones{
        div{
            div{
                ul{
                    margin: 25px;
                }
            }
        }
    }
    .grid-container{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
    }
    .grid-item-laptop2{
        grid-row: span 2;
    }
    .que-ofrecemos{
        div{
            img{
                height: 230px;
            }
        }
    }
}

@media screen and (max-width:560px){
    header{
        nav{
            ul{
                flex-direction: column;
                text-align: center;
                margin: 5px;
                padding: 0px;
            }
        }
    }
    header{
        nav{
            ul{
                li{
                    a{
                        margin: 5px
                    }
                }
            }
        }
    }
    header{
        height: 22vh;
    }
    .que-ofrecemos{
        div{
            img{
                height: 200px;
            }
        }
    }
}

@media screen and (max-width:545px){
    .extracto{
        font-size: small;
    }
}

@media screen and (max-width:530px){
    .hero{
        div{
            h1{
                font-size: large;
            }
        }
    }
    h1{
        font-size: x-large;
    }
}

@media screen and (max-width:504px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item-maquina{
        grid-column: span 2;
    }
    .grid-item-maquina2{
        grid-column: span 2;
    }
}

@media screen and (max-width:482px){
    .formulario{
        img{
            height: 200px;
        }
    }
    .quienes-somos{
        img{
            height: 200px;
        }
    }  
}

@media screen and (max-width:460px){
    .extracto{
        font-size: x-small;
        margin: 0px 0px 20px 0px;
    }
    .quienes-somos{
        div{
            p{
                font-size: small;
                &::first-letter{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .extractos-sub1{
        h4{
            font-size: xx-small;
            margin: 5px;
        }
        .extracto-sub2{
            div{
                p{
                    &::first-letter{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .estudios-sub1{
        p{
            font-size: small;
            &::first-letter{
                font-size: 1.2rem;
            }
        }
    }
    .certificaciones{
        div{
            div{
                ul{
                    li{
                        font-size: small;
                    }
                }
            }
        }
    }
    .certificaciones{
        p{
            font-size: small;
            &::first-letter{
                font-size: 1.2rem;
            }
        }
    }
    .ubicacion{
        div{
            p{
                font-size: small;
                &::first-letter{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .redes-sociales{
        div{
            font-size: small;
            p{
                &::first-letter{
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (max-width:434px){
    .que-ofrecemos{
        div{
            img{
                height: 150px;
            }
        }
    }
    .que-ofrecemos{
        div{
            font-size: small;
        }
    }
}

@media screen and (max-width:376px){
    .formulario{
        img{
            height: 150px;
        }
    }
}