/*---------VARIABLES----------*/

$champagne-pink: 232, 214, 203;
$tea-rose: 208, 173, 167;
$redwood: 173, 106, 108;
$violet: 93, 46, 70;
$african-violet: 181, 141, 182;

/*----EXTEND----*/




/*----MIXIN----*/




